<div *ngIf="notifications$ | async; let notifications">
    <button mat-icon-button [matMenuTriggerFor]="menu_notification">
        <mat-icon *ngIf="countUnseenNotification > 0" matBadge="{{countUnseenNotification}}" matBadgeColor="warn"
            matBadgeSize="small">notifications_active</mat-icon>
        <mat-icon *ngIf="countUnseenNotification == 0">notifications</mat-icon>
    </button>

    <mat-menu #menu_notification="matMenu">
        <div *ngIf="countNotification >0">
            <mat-card *ngFor="let n of notifications">
                <div *ngIf="n.payload.doc.data().type == 'message'">
                    <mat-button id="title" [routerLink]="['/chat']">
                        Messaggio da parte di {{n.payload.doc.data().username}}
                    </mat-button>
                </div>
                <div *ngIf="n.payload.doc.data().type == 'request'">
                    <mat-button id="title" [routerLink]="['/user', n.payload.doc.id]">
                        Richiesta di amicizia da parte di {{n.payload.doc.data().username}}
                    </mat-button>
                </div>

                <div *ngIf="n.payload.doc.data().type == 'accepted'">
                    <mat-button id="title" [routerLink]="['/user', n.payload.doc.id]">
                        Richiesta accettata da {{n.payload.doc.data().username}}
                    </mat-button>
                </div>

                <button mat-icon-button (click)="userLoggedService.deleteNotification(n.payload.doc.id)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-card>

            <mat-card>
                <button mat-icon-button (click)="userLoggedService.seenAllNotification()">
                    <mat-icon>check</mat-icon>
                </button>
                <button mat-icon-button (click)="userLoggedService.deleteAllNotification()">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-card>
        </div>
        <div *ngIf="countNotification == 0">
            <mat-card disabled>Non sono presenti notifiche</mat-card>
        </div>
    </mat-menu>

</div>