{{checkUserInfo()}}

<div id="content">
	<form id="registerForm" (ngSubmit)="onRegister()" [formGroup]="registerForm">
		<mat-form-field appearance="fill">
			<mat-label>Username</mat-label>
			<input (focusout)="checkField('username', 'Username', util.usernameFieldErrorParameters()); checkUsernameField()" matInput type="text"
				placeholder="username" required formControlName="username">
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Email</mat-label>
			<input (focusout)="checkField('email', 'Email'); checkEmailField()" matInput type="email" placeholder="email"
				required formControlName="email">
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Password</mat-label>
			<input (focusout)="checkField('password', 'Password', util.passwordFieldErrorParameters())" matInput type="password" placeholder="password"
				required formControlName="password">
		</mat-form-field>

		<button type="submit" [disabled]="!registerForm.valid" mat-button color="primary">Register</button>
	</form>

	<h4 class="text-primary">Already have an Account?</h4>
	<button [routerLink]="'/login'" mat-button color="primary">Login</button>
</div>