<div id="content">
	<form id="newPswForm" (ngSubmit)="onChangePsw()" [formGroup]="newPswForm">
		<mat-form-field appearance="fill">
			<mat-label>Password</mat-label>
			<input (focusout)="checkPasswordField()" matInput type="password" placeholder="password" required formControlName="password">
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Confirm Password</mat-label>
			<input (focusout)="checkConfirmPasswordField()" matInput type="password" placeholder="confirm_password" required formControlName="confirm_password">
		</mat-form-field>

		<button type="submit" [disabled]="!newPswForm.valid" mat-button color="primary">Change Password</button>
	</form>
</div>