<app-check-user-verified></app-check-user-verified>
<div *ngIf="authService.isUserEmailLoggedIn && authService.isUserEmailVerified">	<h5>User Information</h5>
	<h4>
		<strong>UID:</strong> {{ authService.currentUserId }}
	</h4>
	<h4>
		<strong>Email:</strong> {{ authService.currentEmail }}
	</h4>

	<button (click)="resetPsw()">Reset Password</button>
<table>
	<th>
		<ul>
			<li *ngFor="let item of [].constructor(platformList.length); let i = index">
				<input type="checkbox" id="scales" name="scales" [(ngModel)]="platforms[i]">
				<label for="scales">{{platformList[i]}}</label>
			</li>
		</ul>
		<button (click)="updateData('platform', platformList, platforms)">Aggiorna Piattaforme Preferite</button>
	</th>

	<th>
		<ul>
			<li *ngFor="let item of [].constructor(genreList.length); let i = index">
				<input type="checkbox" id="scales" name="scales" [(ngModel)]="genres[i]">
				<label for="scales">{{genreList[i]}}</label>
			</li>
		</ul>
		<button (click)="updateData('genre',genreList, genres)">Aggiorna Piattaforme Preferite</button>
	</th>
</table>

</div>