body{
    height: 93vh;
    background-image: url("../../../assets/background.png");
    background-repeat: repeat-xy;
    background-size: 150px;
    overflow-y:auto;
}
#container{
    width: 70%;
    margin: auto;
    
}
.single{    
    padding:10px;
    display:flex;
    flex-direction: column;   
}
.title{
    font-size: 20;
    font-weight: bold;
    color: white;
}
#flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;   
    column-gap: 5%;
}
#plat{
    width: 30%; 
    justify-content: center;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;    
    border-radius: 20px;
    display: flex;
    align-items:baseline;
}
.btn{
    margin: 10px auto 5px auto;
}
.divider{
    background-color: white;
}

#bio{
    width: 50%; 
    justify-content: center;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;    
    border-radius: 10px;
    display: flex;
    align-items:baseline;
}

#biomod{
    background-color: white;
}

