<body>
	<!--<a href="https://psnprofiles.com/ikemenzi"> <img src="https://card.psnprofiles.com/2/ikemenzi.png" border="0"></a>-->
	<app-check-user-verified></app-check-user-verified>
	<div id="container" *ngIf="authService.isUserEmailLoggedIn && authService.isUserEmailVerified; else loading">
		<div class="title">Impostazioni</div>

		<div id="plat">Email: {{ authService.currentEmail }} </div>

		<div *ngIf="!showmodifyDesc">
			<div id="bio" *ngIf="bio">Bio: {{ bio }}</div>
			<div id="plat" *ngIf="nicknameps">Nickname Playstation: {{ nicknameps }}</div>
			<div id="plat" *ngIf="nicknamexb">Nickname Microsoft: {{ nicknameps }}</div>
			<div id="plat" *ngIf="nicknament">Nickname Nintendo: {{ nicknameps }}</div>
			<div id="plat" *ngIf="nicknamest">Nickname Steam: {{ nicknameps }}</div>

			<button class="btn" mat-raised-button color="accent" (click)="showmodifyDesc=true">Modifica Dati</button>
		</div>

		<div *ngIf="showmodifyDesc">
			<form id="prova" [formGroup]="dataForm">
			<mat-form-field id="biomod" appearance="fill">
				<mat-label>Descrizione</mat-label>
				<textarea matInput placeholder="Bio" formControlName="bio"></textarea>
			</mat-form-field>
			<mat-form-field id="biomod" appearance="fill">
				<mat-label>Nickname Playstation</mat-label>
				<input matInput type="text" placeholder="nickname" formControlName="nicknameps">
			</mat-form-field>
			<mat-form-field id="biomod" appearance="fill">
				<mat-label>Nickname Microsoft</mat-label>
				<input matInput type="text" placeholder="nickname">
			</mat-form-field>
			<mat-form-field id="biomod" appearance="fill">
				<mat-label>Nickname Nintendo</mat-label>
				<input matInput type="text" placeholder="nickname">
			</mat-form-field>
			<mat-form-field id="biomod" appearance="fill">
				<mat-label>Nickname Steam</mat-label>
				<input matInput type="text" placeholder="nickname">
			</mat-form-field>
			<button class="btn" mat-raised-button color="accent" (click)="updateModifyData('bio', bio)">Conferma Modifica</button>
		</form>
		</div>
	
		Reset Password <button mat-stroked-button color="warn" (click)="resetPsw()">Reset Password</button>


		<mat-divider class="divider"></mat-divider>
		<mat-divider class="divider"></mat-divider>
		<br>

		<div class="title"> Seleziona le tue piattaforme </div>
		<div class="single" *ngIf="!modifyPlatform">
			<div id="flex">
				<ng-container *ngFor="let plat of platformList; let i = index">
					<div id="plat" *ngIf="platforms[i]">{{platformList[i]}}</div>
				</ng-container>
			</div>
			<button class="btn" mat-raised-button color="accent" (click)="modifyPlatform=true">Modifica Piattaforme
				Preferite</button>
		</div>
		<div class="single" *ngIf="modifyPlatform">
			<div id="flex">
				<ng-container *ngFor="let item of [].constructor(platformList.length); let i = index">
					<div id="plat">
						<mat-checkbox [(ngModel)]="platforms[i]"></mat-checkbox>
						<label for="scales">&nbsp;{{platformList[i]}}</label>

					</div>
				</ng-container>
			</div>
			<button mat-raised-button color="accent" class="btn"
				(click)="updateData('platform', platformList, platforms)">Aggiorna
				Piattaforme Preferite</button>
		</div>

		<mat-divider class="divider"></mat-divider>
		<mat-divider class="divider"></mat-divider>
		<br>

		<div class="title"> Seleziona i tuoi generi preferiti </div>
		<div class="single" *ngIf="!modifyGenre">
			<div id="flex">
				<ng-container id="for" *ngFor="let gen of genreList; let i = index">
					<div id="plat" *ngIf="genres[i]">{{genreList[i]}}</div>
				</ng-container>
			</div>
			<button mat-raised-button color="accent" class="btn" (click)="modifyGenre=true">Modifica Generi
				Preferite</button>
		</div>

		<div class="single" *ngIf="modifyGenre">
			<div id="flex">
				<ng-container *ngFor="let item of [].constructor(genreList.length); let i = index">
					<div id="plat">
						<mat-checkbox [(ngModel)]="genres[i]">
							<label for="scales">&nbsp;{{genreList[i]}}</label>
						</mat-checkbox>
					</div>
				</ng-container>
			</div>

			<button mat-raised-button color="accent" class="btn"
				(click)="updateData('genre',genreList, genres)">Aggiorna Generi Preferite</button>
		</div>

		<mat-divider class="divider"></mat-divider>
		<mat-divider class="divider"></mat-divider>

	</div>

	<ng-template #loading>
		<mat-spinner id="spinner"></mat-spinner>
	</ng-template>
</body>