*{
    padding: 0;
}

#container
{
    display: flex;
}

#friendsDiv
{
    height: 93vh;
    width: 25%;
    background-color: white;
    border: 2px solid rgba(255, 64, 129); 
    
}
.mat-form-field{
    width: 100%;
}

#chatDiv
{
    background-image: url("../../../assets/background-light.png");
    background-repeat: repeat-xy;
    background-size: 150px;
    height: 93vh;
    width: 75%;

}