<app-check-user-verified></app-check-user-verified>
<div id="container" *ngIf="authService.isUserEmailLoggedIn && authService.isUserEmailVerified">

	<div id="friendsDiv">
		<mat-form-field appearance="fill">
			<mat-label>Cerca Amico</mat-label>
			<input #searchTxt (keyup)="searchFriends(searchTxt.value)" matInput placeholder="Username">
		</mat-form-field>

		<div *ngIf="!friendsSearched$ && (friendsNoChat$ | async); let friendsNoChat">
			<div *ngIf="friendsChat$ | async; let friendsChat">
				<mat-selection-list [multiple]="false">
					<mat-list-option *ngFor="let friend of friendsChat" (click)="friendSelected(friend.payload.doc.id)">
						{{friend.payload.doc.data().username}}
					</mat-list-option>

					<mat-list-option *ngFor="let friend of friendsNoChat"
						(click)="friendSelected(friend.payload.doc.id)">
						{{friend.payload.doc.data().username}}
					</mat-list-option>
				</mat-selection-list>

				<div *ngIf="friendsChat.length + friendsNoChat.length == 0">
					Nessun amico
				</div>
			</div>
		</div>

		<div *ngIf="friendsSearched$ | async; let friendsSearched">
			<mat-selection-list [multiple]="false">
				<mat-list-option *ngFor="let friend of friendsSearched" (click)="friendSelected(friend.payload.doc.id)">
					{{friend.payload.doc.data().username}}
				</mat-list-option>
			</mat-selection-list>

			<div *ngIf="friendsSearched.length == 0">
				Nessun amico trovato
			</div>
		</div>
	</div>
	<div id="chatDiv">
		<app-chat *ngIf="curChatID" [chatID]="curChatID"></app-chat>
	</div>
</div>