<app-check-user-verified></app-check-user-verified>

<button [routerLink]="'/'">Home</button>

<div *ngIf="authService.currentUser">
	<h5>User Information</h5>
	<h4>
		<strong>UID:</strong> {{ authService.currentUserId }}
	</h4>
	<h4>
		<strong>Email:</strong> {{ authService.currentUserName }}
	</h4>
	<button class="button" (click)="logout()">Logout</button>
</div>

<div *ngIf="authService.isUserEmailLoggedIn && authService.isUserEmailVerified">
	<app-gametab-completed></app-gametab-completed>

	
	<button (click)="visualizzaSpese=!visualizzaSpese">Visualizza Spese</button>

	<div *ngIf="visualizzaSpese">
		<app-spese></app-spese>
	</div>

	<app-preferiti></app-preferiti>
</div>