<app-check-user-verified></app-check-user-verified>

<div *ngIf="authService.currentUser">

<nav class="navbar navbar-expand-sm bg-light sticky-top">

  <!-- Links -->
  <ul class="nav">
    <li class="nav-item">
      <a type="button" class="btn btn-light" [routerLink]="'/'">Home</a>
    </li>
    <li class="nav-item">
      <a type="button" class="btn btn-light" (click)="module='games'" >Games</a>
    </li>
    <li class="nav-item">
      <a type="button" class="btn btn-light" (click)="module='settings'">Settings</a>
	</li>

    <li class="nav-item">
      <a type="button" class="btn btn-light" (click)="logout()">Logout</a>
	</li>
	
  </ul>
 

</nav>


<div *ngIf="authService.isUserEmailLoggedIn && authService.isUserEmailVerified">
	<div *ngIf="module==='games'"><app-gametab-completed></app-gametab-completed><app-spese></app-spese></div>
	<div *ngIf="module==='settings'"><app-preferiti></app-preferiti></div>
	<button (click)="visualizzaSpese=!visualizzaSpese">Visualizza Spese</button>

	<div *ngIf="visualizzaSpese">
		<app-spese></app-spese>
	</div>

</div>