<!DOCTYPE html>
<html lang="it">

<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>



<nav class="navbar navbar-expand-sm bg-light sticky-top ">
	<!-- Links -->
	<ul class="nav nav-tabs" role="tablist" id="myTab">

		<li class="nav-item">
			<button mat-icon-button aria-label="Example icon button with a home icon" [routerLink]="'/'">
				<mat-icon>home</mat-icon>
			</button>
		</li>

		<li class="nav-item" *ngIf="authService.isUserEmailLoggedIn">
			<button mat-button [matMenuTriggerFor]="menu">User</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item [routerLink]="['/gametab']">Games</button>
				<button mat-menu-item [routerLink]="['/settings']">Settings</button>
				<button mat-menu-item [routerLink]="['/friendtab']">Friends</button>
				<button mat-menu-item [routerLink]="['/chat']">Chat</button>
			</mat-menu>
		</li>

		<li class="nav-item" *ngIf="!authService.isUserEmailLoggedIn">
			<button mat-button [routerLink]="'/login'">Log In / Register</button>
		</li>

		<li class="nav-item" *ngIf="authService.isUserEmailLoggedIn">
			<button mat-button (click)="authService.signOut()">Logout</button>
		</li>




	</ul>

</nav>
	<router-outlet></router-outlet>

<!--<div class="container">
	<router-outlet></router-outlet>
</div>-->
