<!DOCTYPE html>
<html lang="it">

<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<!--In questo modo ho le informazioni riguardo l'utente pronte quando la pagina viene aggiornata-->
	<ng-container *ngIf="!authService.isLoadingUserInfo">
		<nav class="navbar navbar-expand-sm bg-light sticky-top navbar-custom ">
			<ul class="nav" role="tablist">
				<!--HOME-->
				<li class="nav-item">
					<button mat-icon-button [routerLink]="'/'">
						<mat-icon>home</mat-icon>
					</button>
				</li>

				<!--USER COMMAND-->
				<ng-container *ngIf="authService.isUserEmailLoggedIn">
					<li class="nav-item">
						<button mat-button (menuOpened)="menuOpened=true" (menuClosed)="menuOpened=false"
							[matMenuTriggerFor]="menu"
							#menuTrigger="matMenuTrigger">{{authService.currentUsername}}</button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item [routerLink]="['/gametab']">Games</button>
							<button mat-menu-item [routerLink]="['/settings']">Settings</button>
							<button mat-menu-item [routerLink]="['/friendtab']">Friends</button>
							<button mat-menu-item [routerLink]="['/chats']">Chat</button>
						</mat-menu>
					</li>

					<li class="nav-item" *ngIf="authService.isUserEmailVerified">
						<app-notification [menuOpened]="menuOpened"
							(notificationMenuOpened)="onNotificationMenuChanges($event)"></app-notification>
					</li>
				</ng-container>

				<!--ADMIN COMMAND-->
				<ng-container *ngIf="authService.isAdmin">
					<li class="nav-item">
						<button mat-button [routerLink]="'/settings'">{{authService.currentUsername}}</button>
					</li>

					<li class="nav-item">
						<button mat-icon-button title="Aggiungi videogioco">
							<mat-icon>add_circle_outline</mat-icon>
						</button>
					</li>
				</ng-container>

				<!--LOGIN/LOGOUT-->
				<li class="nav-item" *ngIf="!authService.isLogged">
					<button mat-button [routerLink]="'/login'">Log In / Register</button>
				</li>

				<li class="nav-item" *ngIf="authService.isLogged">
					<button mat-button (click)="authService.signOut()">Logout</button>
				</li>
			</ul>
		</nav>

		<router-outlet></router-outlet>
	</ng-container>

</body>