<body>
{{ checkLoggedIn() }}

	<mat-card id="content">
	<form id="loginForm" (ngSubmit)="onLoginEmail()" [formGroup]="loginForm">
		<mat-form-field appearance="fill">
			<mat-label>Email</mat-label>
			<input (focusout)="checkField('email', 'Email')" matInput type="email" placeholder="email"
				required formControlName="email">
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Password</mat-label>
			<input (focusout)="checkField('password', 'Password')" matInput type="password" placeholder="password"
				required formControlName="password">
		</mat-form-field>

		<button type="submit" [disabled]="!loginForm.valid" mat-button color="primary">Login</button>
	</form>

	<button [routerLink]="'/register-user'" mat-button color="accent">Register </button>
	<button [routerLink]="'/resetpassword'" mat-button color="accent">Reset Password</button>
	</mat-card>


</body>