body {
  padding-top: 20px;
  background-image: url("../../assets/background.png");
  background-repeat: repeat-xy;
  background-size: 150px;
  overflow: hidden;
  height: 93vh;
}

#search {
  width: 90%;
  margin: auto;
}

#container {
  overflow-y:auto;
  height: 83vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 20px;
  margin-top: 20px;

  padding-bottom: 50px;
  scrollbar-width: none;  /* Firefox */
}

#container::-webkit-scrollbar {
  display: none;
}

#card {
  width: 40%;
  height: 200px;
  display: flex;
  align-items: center;
}

mat-card img {
  width: 20%;
}

mat-card img:hover{
  cursor: pointer;
}

#gamedata{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

mat-card-title:hover{
  cursor: pointer;
}

#btn {
  margin-right: 30px;
  margin-left: auto;
  width: 75px;
  height: 75px;
  font-size: large;
}

#spinner {
  margin: auto;
}

/*ADMIN*/

#adminControl
{
  width: 30%;
}
