

#gamedata{
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

mat-card-title:hover{
  cursor: pointer;
}

mat-card content {
  margin-left: 10px;
  display: block;
  margin: auto;
}

mat-card img {
  width: 20%;
  margin-left: 0;

}

mat-card img:hover{
  cursor: pointer;
}

#btn {
  margin: auto 30 auto auto;
  width: 75px;
  height: 75px;
  font-size: large;
}

#card {
  padding: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  display: inline-flex;
}

#search {
  width: 90%;
  margin: auto;
}

#spinner {
  margin: auto;
}

.flexp {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: calc(5 * 200px);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  justify-content: space-between;
}