body {
    padding: 20px;
    background-image: url("../../assets/background.png");
    background-repeat: repeat-xy;
    background-size: 150px;
    height: 93vh;
  }

.tab{
    display: grid;
    grid-template-areas:
    'image title title'
    'image content content'
    'image desc desc '
    'image stat stat '
    'text  stat stat';
    grid-gap: 10px;
    padding: 10px;   
    grid-column: auto;
}

.tab >div{
text-align: start;
}

#imgCard{
    grid-area: image;
    margin-left: 30;
    width: 100%;
    height: 100%;
    
    background: rgba(255, 255, 255, 0.3);
}

#image
{
    width: 95%;
    height: 95%;
    margin: 2.5%;
}

#text-list{
    
    grid-area: text;
    width: 100%;
    margin-left: 30;
    
}

#title{
    grid-area: title;
    font-size: 36; 
    font-family: 'Helvetica', Arial , Sans-Serif;
    font-weight: bold; 
    color: white;
    margin-left: 40px;
}
#content{
    padding:40px;
    grid-area: content;
    font-size: 14;
    row-gap: 50px;
    display:flex;
    align-content: flex-start;
    justify-content: space-between;
    
}

.card{
    max-width: 180px;
}


#desc{
    margin: 0 40px;
    grid-area: desc;
    font-size: 14;
}

#spinner{
    margin:0 auto;
}

#stat {
    grid-area: stat;
    margin: 0 40px;
}