body{
	background-image: url("../../../assets/background-light.png");
    background-repeat: repeat-xy;
    background-size: 150px;
	padding:100px;
	
}
#content{
	width: 30%;
	margin-top: auto;
	margin: auto;
    display: flex;
    flex-direction: column;
	padding:20px;
}
.mat-form-field
{
	width: 70%;
    margin: auto;
}