#btn1{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 130px;
}

#btn2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 130px;
}

#tick{
    width: 25%;
    align-content: center;
    background-color: chartreuse;
}