#btn1{
    background-color: violet;
    color : white;
}

#btn2{
    background-color: violet;
    color: white;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 0;
}

#tick{
    color: white;
    font-size: 18;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
#text{
    color: white;   
    font-size: 18;
    font-weight: bold;
    width: 100%;
    margin-left: 15px;

}

#icon{
    color:greenyellow;
    vertical-align: middle;
}
