<div *ngIf="!isInList">
    <app-insertgamelist *ngIf="showInsertForm && gameID" [gameid]="gameID" (completed)="completed($event)"></app-insertgamelist>
    <button id="btn1" mat-raised-button color="primary" *ngIf="!showInsertForm" (click)="toggleInsertForm()">Aggiungi
        gioco</button>
    <button id="btn2" mat-raised-button color="primary" *ngIf="showInsertForm" (click)="toggleInsertForm()">Chiudi
        gioco</button>
</div>

<div id="tick" *ngIf="isInList">
    Il gioco e' gia' in una tua lista
    <mat-icon id="icon">check_circle_outline</mat-icon>
</div>