* {
  padding: 0;
  margin: 0;
}

body {
  white-space: nowrap;
  height: 93vh;  
  background-image: url("../../../assets/background.png");
  background-repeat: repeat-xy;
  background-size: 150px;
}

.btnDiv {
  display: table;
  margin: 0 auto;
}

#filtersDiv{
	display: flex;
  justify-content: center;
  gap: 10px;
	margin: 0 auto;
}
#gamescroll{
  height: 79vh;
  overflow-y: scroll;
}
#gamescroll::-webkit-scrollbar {
  display: none;
}
#gamescroll {
  scrollbar-width: none;  /* Firefox */
}

#gameDiv {
  padding-top: 10px;
  width: 60%;
  display: inline-block;
  margin-left: 2.5%;
  height: 93vh;
  overflow-y: hidden;
}

#statsDiv {
  height: 380px;
  width: 35%;
  display: inline-block;
  position: fixed;
  right: 2.5%;
  padding: 10px;
}

#timeDiv{
	background-color: white;
	padding:20px;
	margin-bottom: 5px;
  margin-top: 10px;
}

#shoppingDiv{
	background-color: white;
	padding:20px;
	margin-bottom: 5px;
  	margin-top: 10px;
}

#title {  
  display: inline-block;
  margin-left: 10px;
}

mat-card content {
  margin-left: 10px;
  display : block;
  margin: auto ;
}
#gameIco{
  width: 20%;
  margin:auto;
}

#card {
	padding : 10px;
	/*white-space: nowrap;*/
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width : 90%;
}

#menuBtn {
  float :right;
}

.rett{
  margin-top: 10px;
  background-color: rgba(202, 199, 199, 0.623);
  height: 40px;
  text-align: center;
  padding: 10px;
  font-size: 15;
}