* {
  padding: 0;
  margin: 0;
}

body {
  white-space: nowrap;
}

.btnDiv {
  display: table;
  margin: 0 auto;
}

#filtersDiv{
	display: table;
	margin: 0 auto;
}

#gameDiv {
  padding-top: 10px;
  background-color: red;
  width: 55%;
  display: inline-block;
  margin-left: 2.5%;
  min-height: 100vh;
}

#statsDiv {
  background-color: blue;
  height: 380px;
  width: 35%;
  display: inline-block;
  position: fixed;
  right: 2.5%;
  padding: 10px;
}

#timeDiv{
	background-color: white;
	padding:20px;
	margin-bottom: 5px;
  margin-top: 10px;
}

#shoppingDiv{
	background-color: white;
	padding:20px;
	margin-bottom: 5px;
  	margin-top: 10px;
}

#title {  
  display: inline-block;
  margin-left: 10px;
}

mat-card content {
  margin-left: 10px;
  display : block;
  margin: auto ;
}
#gameIco{
  width: 20%;
  margin:auto;
}

#card {
	padding : 10px;
	white-space: nowrap;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width : 90%;
}

#menuBtn {
  float :right;
}
