<body>
	<app-check-user-verified></app-check-user-verified>

	<div *ngIf="authService.isUserEmailLoggedIn && authService.isUserEmailVerified">
		<div id="gamediv">
			<div class="btnDiv">
				<mat-button-toggle-group (change)="UpdateList($event.value); updateForm=false"
					[value]="userlists[0].code">
					<mat-button-toggle [value]="userlists[0].code">{{userlists[0].name}}</mat-button-toggle>
					<mat-button-toggle [value]="userlists[1].code">{{userlists[1].name}}</mat-button-toggle>
					<mat-button-toggle [value]="userlists[2].code">{{userlists[2].name}}</mat-button-toggle>
				</mat-button-toggle-group>
			</div>

			<div id="filtersDiv">
				<select class="btn btn-secondary dropdown-toggle" (change)="onChangeFilter()"
					[(ngModel)]="filters.genre">
					<option value=""> Tutti i generi </option>
					<option *ngFor="let g of genreList"> {{g}} </option>
				</select>

				<select class="btn btn-secondary dropdown-toggle" (change)="onChangeFilter()"
					[(ngModel)]="filters.platform">
					<option value="">
						Tutte le Piattaforme
					</option>
					<option *ngFor="let p of platformList">
						{{p}}
					</option>
				</select>
			</div>

			<div id="gamescroll" *ngIf="!updateForm">
				<div *ngIf="games$ | async as games">
					<div *ngFor="let game of games">
						<mat-card id="card">
							<img mat-card-image id="gameico" [src]="urls.get(game.payload.doc.id)">
							<mat-card-title id="title" [routerLink]="['/games', game.payload.doc.id]">
								{{ util.capitalize(game.payload.doc.data().title) }}
								<div *ngIf="viewlist === userlists[0].code">
									<mat-card-content>Ore giocate: {{game.payload.doc.data().completetime}}
									</mat-card-content>

									<mat-card-content>Prezzo : {{game.payload.doc.data().price}} <span
											matSuffix>&euro;</span>
									</mat-card-content>
									<mat-card-content *ngIf="game.payload.doc.data().vote != null">Voto :
										{{game.payload.doc.data().vote}}</mat-card-content>
									<mat-card-content>Piattaforma : {{game.payload.doc.data().platform}}
									</mat-card-content>
								</div>

								<div *ngIf="viewlist === userlists[1].code">
									<mat-card-content>Prezzo : {{game.payload.doc.data().price}} <span
											matSuffix>&euro;</span>
									</mat-card-content>
									<mat-card-content>Piattaforma : {{game.payload.doc.data().platform}}
									</mat-card-content>
								</div>
							</mat-card-title>

							<mat-card-content id="menuBtn">
								<button mat-icon-button [matMenuTriggerFor]="menu">
									<mat-icon>more_vert</mat-icon>
								</button>
								<mat-menu #menu="matMenu">
									<button mat-menu-item
										(click)="updateForm=true; gameid=game.payload.doc.id">Update</button>
									<button mat-menu-item
										(click)="userCollectionService.removeGame(viewlist, game.payload.doc.id)">Delete</button>
								</mat-menu>
							</mat-card-content>

						</mat-card>

					</div>
					<div *ngIf="games.length === 0">Nessun gioco trovato</div>
				</div>

			</div>

			<div *ngIf="updateForm">
				<app-insertgamelist *ngIf="gameid && viewlist" [gameid]="gameid" [updateList]="viewlist"
					(completed)="completed($event)">
				</app-insertgamelist>
				<button (click)="updateForm=false">Annulla</button>
			</div>

		</div>

		<div id="statsdiv">
			<mat-card id="shoppingDiv">
				<mat-card-title> Report Spese </mat-card-title>
				<app-shopping-report *ngIf="updateReport" [updateReport]="updateReport"></app-shopping-report>
			</mat-card>

			<div *ngIf="games$ | async; let games">
				<mat-card id="timeDIv" *ngIf="viewlist === userlists[0].code && games.length > 0 && !updateForm">
					<mat-card-title> Media dei tempi di completamento</mat-card-title>
					<mat-card-content class="rett">Numero giochi completati: {{games.length}} </mat-card-content>
					<mat-card-content class="rett">Tempo di completamento medio: {{util.avgCompleteTime(games) | number
						: '1.0-2'}}
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</body>