<div id="container" *ngIf="messages$ | async; let message">
    <div id="containerChat">
        <div *ngFor="let m of message">
            <mat-card *ngIf="authService.currentUsername === m.sender" class="meCard">
                <mat-card-title class="msg">
                    {{m.text}}
                </mat-card-title>
                <mat-card-content class="time">
                    {{util.getMsgTime(m.time)}}
                </mat-card-content>
            </mat-card>

            <mat-card *ngIf="authService.currentUsername !== m.sender" class="friendCard">
                <mat-card-title class="msg">
                    {{m.text}}
                </mat-card-title>
                <mat-card-content class="time">
                    {{util.getMsgTime(m.time)}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div id="sendMessage">
        <input (keyup)="onKeyUpMsg($event)" id="messageTxt" matInput [(ngModel)]="messageTxt" placeholder="messaggio">
        <button [disabled]="messageTxt===''" id="messageSendBtn" (click)="sendMessage()" mat-icon-button>
            <mat-icon>send</mat-icon>
        </button>
    </div>

</div>