#container{
    display: flex;
    flex-direction: column-reverse;
    height: 93vh;
}
#containerChat{
    order:2;
    display: flex;
    flex-direction: column-reverse;
    gap:10px;
    padding:5px;
    overflow-y: auto;
    background-image: url("../../../assets/background.png");
    background-repeat: repeat-xy;
    background-size: 150px;
    height: 100%;
}
#container mat-card{
    max-width: 30%;
}
#topbar{
    order:3;
    height: 9%;
    display: flex;
    justify-self: flex-start;
    padding: 0 5px;
    column-gap: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
#img{
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}
#name{
    font-size:20;
    font-weight: bold;
    margin: auto 0;
}
.meCard{
    float:right;
    margin-left: auto;
    min-width: 15%;
}
.friendCard{
    float:left;
    min-width: 15%;
}
.msg{
    font-size: 16;
    word-wrap: break-word;
}
.time{
    text-align: right;
    font-size: 11;
}
#sendMessage{
    height: 9%;
    width:100%;
    margin-left: auto;
    order:1;   
    padding: 5px;
    display: flex;
    justify-content: space-around;
    /*background-color: rgba(24,57,122);*/
    background-color: rgba(63,81,181);
    
}
#messageTxt{
    width: 90%;
    padding-left: 10px;
    vertical-align: middle;
    background-color: white;
    border-radius: 20px;
    border : 1px solid white;

}
#messageSendBtn{
    vertical-align: middle;
    background-color: rgba(255, 64, 129); 
    color:white;
}
