#container
{
    padding: 0 5%;
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
    background-color: chartreuse;
}

#containerChat
{
    order:2;
    display: flex;
    flex-direction: column-reverse;
    gap:10px;
    padding:5px;
    overflow-y: auto;
    background-color: red;
    height: 100%;
}

#container mat-card
{
    max-width: 30%;
}

.meCard
{
    float:right;
    margin-left: auto;
}

.friendCard
{
    float:left;
}

.msg
{
    font-size: 14;
    word-wrap: break-word;
}

.time
{
    text-align: right;
    font-size: 11;
}

#sendMessage
{
    width:100%;
    margin-left: auto;
    order:1;   
    background-color: blue;
    display: flex;
}

#messageTxt
{
    width: 90%;
    vertical-align: middle;
}

#messageSendBtn
{
    vertical-align: middle;
    margin-left: auto;
}
