<div *ngIf="authService.isUserEmailLoggedIn && authService.isUserEmailVerified">
	<div class="btn-group">
	<button class="btn btn-outline-primary" (click)="UpdateList(userlists[0].code); updateForm=false">Completed Games</button>
	<button class="btn btn-outline-primary" (click)="UpdateList(userlists[1].code); updateForm=false">Playing Games</button>
	<button class="btn btn-outline-primary" (click)="UpdateList(userlists[2].code); updateForm=false">Desired Games</button>
	</div>
	<br>
	

	<select class="btn btn-secondary dropdown-toggle" (change)="onChangeFilter()" [(ngModel)]="genreSelected">
		<option value="">
			Tutti i generi
		</option>
		<option *ngFor="let g of genreList">
			{{g}}
		</option>
	</select>
	

	<select class="btn btn-secondary dropdown-toggle" (change)="onChangeFilter()" [(ngModel)]="platformSelected">
		<option value="">
			Tutte le Piattaforme
		</option>
		<option *ngFor="let p of platformList">
			{{p}}
		</option>
	</select>

	<div *ngIf="!updateForm">
		<div *ngIf="games$ | async; let games">
			<div *ngFor="let game of games">
				<a [routerLink]="['/games', game.payload.doc.id]">
					{{ util.capitalize(game.payload.doc.data().title) }}
				</a>
				<a *ngIf="viewlist === userlists[0].code">Ore giocate: {{game.payload.doc.data().completetime}} </a>

				<button (click)="gameListService.RemoveGame(viewlist, game.payload.doc.id)">Remove Game</button>
				<button *ngIf="!updateForm" (click)=" updateForm=true; gameid=game.payload.doc.id">Update Game</button> <!--UpdateForm(game.payload.doc.id);-->
			</div>

			<div *ngIf="viewlist === userlists[0].code && games.length > 0 && !updateForm">
				Il numero di giochi e': {{games.length}} <br>
				Il numero medio di tempi di completamento e': {{util.avgTime(games)}}
			</div>

			<div *ngIf="games.length === 0">Nessun gioco trovato</div>
		</div>
	</div>


	<div *ngIf="updateForm">
		<app-insertgamelist *ngIf="gameid && viewlist" [gameid]="gameid" [updateList]="viewlist"></app-insertgamelist>
		<button (click)="updateForm=false">Annulla</button>
	</div>

	<app-spese [genreSelected]="genreSelected" [platformSelected]="platformSelected"></app-spese>
</div>