<div *ngIf="authService.isUserEmailLoggedIn && authService.isUserEmailVerified">
	<button (click)="UpdateList(userlists[0].code); updateForm=false">Completed Games</button>
	<button (click)="UpdateList(userlists[1].code); updateForm=false">Playing Games</button>
	<button (click)="UpdateList(userlists[2].code); updateForm=false">Desired Games</button>

	<select (change)="onChangeFilter()" [(ngModel)]="genreSelected">
		<option value="">
			Tutti i generi
		</option>
		<option *ngFor="let g of genreList">
			{{g}}
		</option>
	</select>

	<select (change)="onChangeFilter()" [(ngModel)]="platformSelected">
		<option value="">
			Tutte le Piattaforme
		</option>
		<option *ngFor="let p of platformList">
			{{p}}
		</option>
	</select>

	<div *ngIf="!updateForm">
		<div *ngIf="games$ | async; let games">
			<div *ngFor="let game of games">
				<a [routerLink]="['/games', game.payload.doc.id]">
					{{ util.capitalize(game.payload.doc.data().title) }}
				</a>
				<a *ngIf="viewlist === userlists[0].code">Ore giocate: {{game.payload.doc.data().CompleteTime}} </a>

				<button (click)="gameListService.RemoveGame(viewlist, game.payload.doc.id)">Remove Game</button>
				<button *ngIf="!updateForm" (click)="UpdateForm(game.payload.doc.id); updateForm=true">Update Game</button>
			</div>

			<div *ngIf="viewlist === userlists[0].code && games.length > 0 && !updateForm">
				Il numero di giochi e': {{games.length}} <br>
				Il numero medio di tempi di completamento e': {{util.avgTime(games)}}
			</div>

			<div *ngIf="games.length === 0">Nessun gioco trovato</div>
		</div>
	</div>

	<div *ngIf="updateForm">
		<div *ngIf="selectedList===userlists[0].code">
			<h4>Inserisci il tempo di completamento (in ore)</h4>
			<input type="number" placeholder="ore" required [(ngModel)]="time"><br>

			<h4>Inserisci un voto</h4>
			<select [(ngModel)]="vote">
				<option></option>
				<option type="number" *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]"> {{number}} </option>
			</select> <br>
		</div>

		<!--Dati aggiuntivi per gioci completati e desiderati-->
		<div *ngIf="selectedList!==userlists[2].code" >
			<h4>Inserisci la piattaforma</h4><br>
			<select  [(ngModel)]="selectedPlatform">
				<option *ngFor="let plat of platformsGame"> {{plat}} </option>
			</select><br>

			<h4>Inserisci il prezzo di acquisto</h4>
			<input type="number" placeholder="prezzo" required [(ngModel)]="price"><br>
		</div>


		<textarea rows="4" cols="180" placeholder="Inserisci Note Aggiuntive" [(ngModel)]="note"></textarea><br>
		<select [(ngModel)]="selectedList">
			<option *ngFor="let o of userlists" value="{{o.code}}"> {{o.name}} </option>
		</select><br>
		<button
			(click)="gameListService.UpdateGame(selectedList, viewlist, gameid, note, time, vote, selectedPlatform, gametitle, price); UpdateForm(gameid)">Update</button>
		<button (click)="updateForm=false">Annulla</button>
	</div>
</div>