<mat-stepper [ngStyle]="{'opacity': imgUploading ? 0.5 : 1}" linear="false" #stepper>
    <mat-step [stepControl]="mainDataForm" label="Dati Principali">
        <div class="container">
            <form [formGroup]="mainDataForm">
                <mat-form-field id="title" appearance="fill">
                    <mat-label>Titolo</mat-label>
                    <input (focusout)="checkTitle()" matInput placeholder="titolo" formControlName="title" required>
                </mat-form-field>

                <mat-form-field class="leftSide" appearance="fill">
                    <mat-label>Sviluppatore</mat-label>
                    <input (focusout)="checkField(mainDataForm,'developer', 'Sviluppatore')" matInput
                        placeholder="sviluppatore" formControlName="developer" required>
                </mat-form-field>

                <mat-form-field class="rightSide" appearance="fill">
                    <mat-label>Publisher</mat-label>
                    <input (focusout)="checkField(mainDataForm,'publisher', 'Publisher')" matInput
                        placeholder="publisher" formControlName="publisher" required>
                </mat-form-field>

                <mat-form-field class="leftSide" appearance="fill">
                    <mat-label>Prezzo d'uscita</mat-label>
                    <input (focusout)="checkField(mainDataForm,'price','Prezzo d\'uscita', util.priceFieldErrorParameters())"
                        matInput placeholder="prezzo" formControlName="price" required>
                </mat-form-field>

                <mat-form-field class="rightSide" appearance="fill">
                    <mat-label>Data d'uscita</mat-label>
                    <input (focusout)="checkField(mainDataForm,'release','Data d\'uscita')" matInput
                        [matDatepicker]="picker" formControlName="release" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </form>
            <button class="next" mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="platGenForm" label="Piattaforma e Genere">
        <div class="container">
            <form [formGroup]="platGenForm">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title [ngStyle]="{'color':platGenForm.controls['platform'].valid ? 'black' : 'red' }"> Piattaforme </mat-panel-title>
                        <mat-panel-description>
                            {{platGenForm.controls['platform'].value}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-selection-list (focusout)="checkField(platGenForm,'platform','Piattaforma')" color="primary" class="list" formControlName="platform">
                        <mat-list-option class="option" *ngFor="let plat of allPlatforms" [value]="plat">
                            {{plat}}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title [ngStyle]="{'color':platGenForm.controls['genre'].valid ? 'black' : 'red' }">Generi</mat-panel-title>
                        <mat-panel-description>
                            {{platGenForm.controls['genre'].value}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-selection-list (focusout)="checkField(platGenForm,'genre','Genere')" color="primary" class="list" formControlName="genre">
                        <mat-list-option class="option" *ngFor="let g of allGenre" [value]="g">
                            {{g}}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-expansion-panel>
            </form>
            <div>
                <button class="back" mat-button matStepperPrevious>Back</button>
                <button class="next" mat-button matStepperNext>Next</button>
            </div>
        </div>
    </mat-step>

    <mat-step [stepControl]="bioForm" label="Descrizione">
        <div class="container">
            <form [formGroup]="bioForm">
                <mat-form-field id="bioField" appearance="fill">
                    <mat-label>Descrizione</mat-label>
                    <textarea resizable=false matInput formControlName="bio" required
                        placeholder="Descrizione..."></textarea>
                </mat-form-field>
            </form>
            <div>
                <button class="back" mat-button matStepperPrevious>Back</button>
                <button class="next" mat-button matStepperNext>Next</button>
            </div>
        </div>
    </mat-step>

    <mat-step label="Immagine di copertina">
        <div class="container">
            <div>
                <div id="image">
                    <img *ngIf="imgSetted" [src]="imgUrl">
                </div>
                <div id="control">
                    <div id="flexControl">
                        <input type="file" (change)="loadImage($event)">
                        <button (click)="cancelImage()">Cancel</button>
                    </div>
                </div>
            </div>

            <div id="imgBtn">
                <button mat-button matStepperPrevious>Back</button>
                <button [disabled]="!mainDataForm.valid || !bioForm.valid || !imgSetted" mat-button color="primary"
                    (click)="updateGame()">Update Game</button>
            </div>
        </div>
    </mat-step>
</mat-stepper>

<mat-progress-bar *ngIf="imgUploading" id="progressBar" mode="determinate" [value]="uploadStateProgress">
</mat-progress-bar>