<app-check-user-verified></app-check-user-verified>
<div *ngIf="authService.isUserEmailLoggedIn && authService.isUserEmailVerified">
	<input type="text" class="form-control form-control-sm" (keyup)="onKey($event)" placeholder="Cerca Utente">

	<div *ngIf="users$ | async; let users">
		<ul>
			<div *ngFor="let user of users">

				<a *ngIf="user.payload.doc.id !== userLoggedService.getUserID() "
					[routerLink]="['/user', user.payload.doc.id]">
					{{ user.payload.doc.data().username }}
				</a>
			</div>
		</ul>
		<div *ngIf="users?.length === 0">Nessun utente trovato</div>
	</div>


	<div *ngIf="friends$ | async; let friends">
		<ul>
			<div *ngFor="let friend of friends">

				<a [routerLink]="['/user', friend.payload.doc.id]">
					{{ friend.payload.doc.data().username }}
				</a>
				<button class="btn btn-outline-primary"
					(click)="userLoggedService.removeFriend(friend.payload.doc.id, authService.currentUserId)">Rimuovi Amico
				</button>

			</div>
		</ul>
		<div *ngIf="friends.length === 0">Nessun amico</div>
	</div>

	<div *ngIf="requests$ | async; let requests">
		<ul>
		<div *ngFor="let request of requests">

			<a [routerLink]="['/user', request.payload.doc.data().username]">
				{{  request.payload.doc.data().username }}
			</a>
			<button class="btn btn-outline-primary"
				(click)="userLoggedService.acceptRequest(request.payload.doc.id, request.payload.doc.data().username, authService.currentUserId)">Accetta Amico
			</button>
			<button class="btn btn-outline-primary"
				(click)="userLoggedService.removeRequest(request.payload.doc.id)">Rifiuta Amico
			</button>
		</div>
		</ul>
	</div>
</div>