body{
    background-image: url("../../../assets/background.png");
    background-repeat: repeat-xy;
    background-size: 150px;
    padding-top: 20px;
    
}
#searchbar{
    width: 90%;
    margin: auto;
}

.card{
    width: 45%;
}

.flex{
    padding: 10px;
    margin: 30px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
