<div *ngIf="show">

	<!--Dati aggiuntivi per lista Completati-->
	<div *ngIf="selectedList===userlists[0].code">

		<h4>Inserisci il tempo di completamento (in ore)</h4>
		<input type="number" placeholder="ore" required [(ngModel)]="time"><br>

		<h4>Inserisci un voto</h4>
		<select [(ngModel)]="vote" value="0">
			<option></option>
			<option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]"> {{number}} </option>
		</select>
	</div>

	<!--Dati aggiuntivi per lista Completati e In Gioco-->
	<div *ngIf="selectedList!==userlists[2].code">
		<h4>Inserisci la piattaforma</h4><br>
		<select [(ngModel)]="selectedPlatform">
			<option *ngFor="let plat of platformsGame"> {{plat}} </option>
		</select><br>

		<h4>Inserisci il prezzo di acquisto</h4>
		<input type="number" placeholder="prezzo" required [(ngModel)]="price"><br>
	</div>

	<!--Dati per tutte le liste-->
	<textarea rows="4" cols="180" placeholder="Inserisci Note Aggiuntive" [(ngModel)]="note"></textarea><br>

	<select [(ngModel)]="selectedList">
		<option *ngFor="let o of userlists" value="{{o.code}}"> {{o.name}} </option>
	</select>

	<button
		(click)="userCollectionService.UpdateGame(selectedList, updateList, gameid, gametitle, note, time, vote, selectedPlatform, gamegenre, price)">Add
		Game On List</button>

</div>

