#container
{
	padding: 20px;
}

.gameIco {
  width: 90%;
  height: auto;
}

#gameInfo{
	display: inline-block;
	width: 30%;
	text-align: center;
	color: white;
	font-size: 36; 
    font-family: 'Helvetica', Arial , Sans-Serif;
    font-weight: bold; 
}

#updateForm{
	display: flex;
	margin-left: auto;
	align-items: center;
	flex-direction: column;
}


#formCard
{
	display: inline-block;
	width: 40%;
	vertical-align: middle;
	margin: auto;
	margin-left: 15%;
}

.mat-form-field
{
	width: 240px;
}

#spinner {
	margin: auto;
  }

.mat-card-content{
	color:red;
	font-size: 12;
	
}
  