<table>
	<th>
		<ul>
			<li *ngFor="let item of [].constructor(platformList.length); let i = index">
				<input type="checkbox" id="scales" name="scales" [(ngModel)]="platforms[i]">
				<label for="scales">{{platformList[i]}}</label>
			</li>
		</ul>
		<button (click)="updateData('Platforms', platformList, platforms)">Aggiorna Piattaforme Preferite</button>
	</th>

	<th>
		<ul>
			<li *ngFor="let item of [].constructor(genreList.length); let i = index">
				<input type="checkbox" id="scales" name="scales" [(ngModel)]="genres[i]">
				<label for="scales">{{genreList[i]}}</label>
			</li>
		</ul>
		<button (click)="updateData('Genres',genreList, genres)">Aggiorna Piattaforme Preferite</button>
	</th>
</table>